<footer class="text-lg-start">
  <div class="lindat-common2 lindat-common-footer">
    <footer data-version="3.5.0" data-build="67e455771cd6a00647a289a5d7b0c8a3380d3410">
      <div id="about-lindat">
        <!--h4><a href="https://lindat.cz/sites/default/files/2021-01/lindat_clariah_flyer.pdf">LINDAT/CLARIAH-CZ</a></h4-->
        <h4><a href="https://www.clarin.si/">CLARIN.SI</a></h4>
        <ul>
          <!--li><a href="https://lindat.cz/files/mission-en.pdf">Mission Statement</a></li-->
          <li><a href="https://www.clarin.eu/">CLARIN EU</a></li>
          <br/>
          <li><a href="https://www.clarin.si/info/faq-repository">FAQ</a></li>
          <li><a href="https://www.clarin.si/info/contact/">Contact</a></li>
          <li><a href="mailto:repo-help@clarin.si">Helpdesk</a></li>
          <br/>
          <li><a href="https://ror.org/02z92c890">Research Organization Registry</a></li>
          <li><a href="https://www.wikidata.org/wiki/Q120638198"></a>WikiData</li>
          <li><a href="https://doi.org/10.25504/FAIRsharing.9e0d2d">FAIRsharing</a></li>
          <li><a href="http://doi.org/10.17616/R33M0X">Re3data</a></li>
        </ul>
      </div>
      <div id="about-partners">
        <h4><a href="https://www.clarin.si/info/partners/">Partners</a></h4>
        <ul>
	  <li><a href="https://www.clarin.si/info/partners/#alpineon">Alpineon, d.o.o.</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#amebis">Amebis, d.o.o.</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#inz">Institute of Contemporary History</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#ijs">Jožef Stefan Institute</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#nuk">National and University Library of Slovenia</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#sdjt">Slovenian Language Technologies Society</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#ul">University of Ljubljana</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#um">University of Maribor</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#ung">University of Nova Gorica</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#up">University of Primorska</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#zrcsazu">ZRC SAZU</a></li>
	  <li><a href="https://www.clarin.si/info/partners/#zrs">ZRS Koper</a></li>
        </ul>
      </div>
      <div id="about-website">
        <h4><a href="https://www.clarin.si/info/services/">Services</a></h4>
        <ul>
          <li><a href="https://www.clarin.si/repository/static/about">About and Policies</a></li>
          <li><a href="https://www.clarin.si/en/terms-of-use">Terms of Use</a></li>
        </ul>
      </div>
      <div id="badges-a">
        <a href="https://www.clarin.eu/content/certified-centres"><img src="https://lindat.mff.cuni.cz/images/b-centre.png" alt="CLARIN CENTRE B" /></a>
        <a href="https://www.clarin.eu/content/knowledge-centres"><img src="https://lindat.mff.cuni.cz/images/k-centre.png" alt="CLARIN CENTRE K" style="filter:brightness(0.88)" /></a>
        <a href="https://doi.org/10.34894/EBQJRF"><img src="https://lindat.mff.cuni.cz/images/core-trust-seal-mono.png" alt="CoreTrustSeal Certification" /></a>
      </div>
      <div id="badges-b">
          <a href="https://www.linkedin.com/company/clarin-si">LinkedIn</a>
          <a href="https://www.clarin.si/"><img src="https://lindat.mff.cuni.cz/sites/default/files/LINDAT-CLARIAH-cz-gray_0.svg" alt="Home Page" /></a>
      </div>
      <div id="ack-msmt">
        CLARIN.SI (I0-E004 (A)) IS FULLY SUPPORTED BY THE SLOVENIAN RESEARCH AND INNOVATION AGENCY
      </div>
      <div id="ack-freepik">Icons ©  Smashicons and Freepik from flaticon.com licensed by <a href="https://creativecommons.org/licenses/by/3.0/">CC 3.0 BY</a></div>
      <!--div id="ack-ufal">website © 2025 by <a href="https://ufal.mff.cuni.cz/">ÚFAL</a></div-->
    </footer>
  </div>
</footer>
